
* {
    margin: 2px;
    padding: 1px;
}

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    left: -200px;
    transition: all 500ms linear;
    text-transform: uppercase;
    transition: all 500ms ease;

}

#sidebar.active {
    left: 0;
    
}



.logo {
    display: block;
    margin: 0 auto;
}




#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
    border-radius: 71px;
    background: linear-gradient(145deg, #f5ffff, transparent);
    box-shadow:  7px 7px 18px #99a19f,
                 -7px -7px 18px transparent;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    
    z-index: 1;

}

#sidebar ul li {
    
    text-align: left;
    padding: 10px 10px;
    list-style: none;
    z-index: 1;
    font-family: 'Alfa Slab One';
    
}



@media(max-width: 560px) {
    #sidebar {
        width: 5px;
        
    }

    
    #sidebar ul li {
        visibility: hidden;
    }


    #sidebar .toggle-btn {
        position: absolute;
        left: 194px;
        top: 0px;
        cursor: pointer;
        z-index: 1;
        visibility: hidden;
    }

}